Repository d4rkfella/radarr-distroless, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/dockerfile

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update build.yaml
  .github/workflows/build.yaml
Labels: area/github

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update labeler.yaml
  .github/workflows/labeler.yaml
Labels: area/github

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Create .melange.yaml
  .melange.yaml
Labels: none

Delete .melange.yaml
  .melange.yaml
Labels: none

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

[StepSecurity] Apply security best practices
  .github/workflows/build.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/scorecards.yml
  .pre-commit-config.yaml
Labels: area/github

Update build.yaml
  .github/workflows/build.yaml
Labels: area/github

Update label-sync.yaml
  .github/workflows/label-sync.yaml
Labels: area/github

Update labeler.yaml
  .github/workflows/labeler.yaml
Labels: area/github

Update renovate.yaml
  .github/workflows/renovate.yaml
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Update renovate.yaml
  .github/workflows/renovate.yaml
Labels: area/github

Delete .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: none

Update build.yaml
  .github/workflows/build.yaml
Labels: area/github

Update Dockerfile
  Dockerfile
Labels: area/dockerfile

Create .apko.yaml
  .apko.yaml
Labels: none

Create apko-build.yaml
  .github/workflows/apko-build.yaml
Labels: area/github

Update apko-build.yaml
  .github/workflows/apko-build.yaml
Labels: area/github

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/dockerfile:
  - changed-files:
      - any-glob-to-any-file: "Dockerfile"
